# Ignore everything in the build directory
build/
build/**
# Include only .class files in the build directory
!build/**/*.class

# Ignore IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/

# Ignore Node.js modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore compiled files
*.class
*.jar
*.war

# Ignore Gradle files
.gradle/
